*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Setting Up Custom Properties ///////////////////////////////////////////////////////// */
:root {
  --serif: 'Source Serif Pro';
  --sans: 'Source Sans Pro';
  --dark-color: #393e41;
  --light-color: #ffffff;
  --pop-color: #173dde;
  --shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --h1-size: 3rem;
  --h2-size: 2.25rem;
  --h3-size: 1.25rem;
  --body-size: 1rem;
}

/* Everything larger than 800px: increase the font size */
@media (min-width: 800px) {
  :root {
    --h1-size: 4rem;
    --h2-size: 3rem;
    --h3-size: 1.5rem;
    --body-size: 1.125rem;
  }
}
/* General Styling ///////////////////////////////////////////////////////// */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans, sans-serif);
  color: var(--dark-color);
}

/* Heading Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif, serif);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

body {
  font-size: var(--body-size);
}

nav {
  background-color: white;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(70px, 1fr)) 50%;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none; /* Get rid of underlines */
  color: var(--dark-color);
}

.button {
  background-color: var(--pop-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--light-color);
  padding: 0.5rem 1.5rem;
  border-radius: 22px;
  display: block;
}

/* Specific Styling ///////////////////////////////////////////////////////// */

/* Everything larger than 800px ///////////////////// */

/* Header */
nav a {
  justify-self: center;
}
.links__get-estimate {
  grid-column: 3 / span 2;
  color: var(--pop-color);
}
.links__contact {
  justify-self: end;
}

/* Home */
.home__container {
  min-height: 600px;
  max-height: 100vh;
  height: 100vh;
  background-image: url(/images/home.jpg);
  background-size: cover;
}

/* HOME CIRCLE IS AN ISSUE!!!!! ---clipping when vertice window size is reduced */
.home__circle {
  margin-top: 3rem;
  background-color: white;
  float: right;
  width: 50%;
  height: 100vh;
  clip-path: ellipse(100% 200% at 100% 30%);
}

.home__circle img,
.home__circle h1,
.home__circle p {
  width: 80%;
}

.home__circle a {
  width: max-content;
}

.home__circle h1,
.home__circle p,
.home__circle a {
  text-align: center;
}

.home__circle img,
.home__circle h1,
.home__circle p,
.home__circle a {
  display: block;
  margin: 0 auto 5vh auto;
}

/* Everything between 600px and 800px */
@media (max-width: 800px) {
}

/* Everything smaller than 800px */
@media (max-width: 600px) {
}
