*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Setting Up Custom Properties ///////////////////////////////////////////////////////// */
:root {
  --serif: 'Source Serif Pro';
  --sans: 'Source Sans Pro';
  --dark-color: #393e41;
  --medium-color: lightgray;
  --light-color: #ffffff;
  --pop-color: #173dde;
  --shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.1),
    0rem 0rem 1rem rgba(0, 0, 0, 0.15);
  --h1-size: 2.75rem;
  --h2-size: 1.25rem;
  --body-size: 1rem;
}

/* Everything larger than 900px: increase the font size */
@media (min-width: 900px) {
  :root {
    --h1-size: 4rem;
    --h2-size: 2rem;
    --body-size: 1.125rem;
  }
}
/* General Styling ///////////////////////////////////////////////////////// */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans, sans-serif);
  color: var(--dark-color);
}

/* Heading Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif, serif);
  text-align: center;
  margin: 2rem auto;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

body {
  font-size: var(--body-size);
}

a {
  text-decoration: none; /* Get rid of underlines */
  color: var(--dark-color);
}

ul {
  list-style-type: none;
}

.button {
  background-color: var(--pop-color);
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--light-color);
  padding: 0.5rem 1.5rem;
  border-radius: 22px;
  display: block;
  transition: all 100ms;
  width: max-content;
  height: max-content;
  border: 2px solid var(--pop-color);
}

.button:hover {
  background-color: var(--light-color);
  color: var(--pop-color);
}

/* Specific Styling ///////////////////////////////////////////////////////// */

/* Everything smaller than 900px */

/* Header/Nav */
.move-in {
  transform: translateX(100%);
}

header {
  position: fixed;
  right: 100%;
  z-index: 10;
  background-color: var(--light-color);
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  transition: transform 0.15s;
}

nav {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

nav a {
  display: block;
  color: var(--dark-color);
  font-size: 2.5rem;
  align-self: center;
  justify-self: center;
  padding: 0.5rem;
  transition: all 0.2s;
  border-radius: 25px;
  text-align: center;
}

nav a:hover {
  transform: scale(1.2);
  color: var(--pop-color);
}

/* Hamburger */
.hamburger {
  top: 0.25rem;
  left: 0.25rem;
  position: fixed;
  z-index: 15;
  cursor: pointer;
  height: 2.5rem;
  width: 3rem;
  background-color: var(--light-color);
  border-radius: 5px;
}

.hamburger__line {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  border-radius: 0.25rem;
  background-color: var(--dark-color);
  margin: 0.4rem auto;
  cursor: pointer;
  transition: all 0.15s;
}

.hamburger-transformation {
  background-color: var(--pop-color);
}

.hamburger-transformation--top {
  transform: translate(0, 12px) rotate(-45deg);
}

.hamburger-transformation--middle {
  transform: rotate(45deg);
}

.hamburger-transformation--bottom {
  transform: translate(0, -11px) rotate(45deg);
}

/* Home */
.home__container {
  display: block;
  height: 100%;
  min-height: 600px;
}

.home__circle {
  height: 100%;
  display: grid;
}

.home__container img {
  width: calc(100% - 2rem);
  max-width: 1000px;
  margin: 4rem auto 1rem auto;
}

.home__container h1,
.home__container h2 {
  width: 80%;
}

.heading-emphasis::before,
.heading-emphasis::after {
  content: '';
  display: block;
  background-color: var(--medium-color);
  height: 2px;
  opacity: 0.75;
  width: 50%;
  margin: 1rem auto;
}

.home__container a {
  margin: 2rem auto 1rem auto;
  font-size: max(1.25rem, 2vw);
  border-radius: 50px;
}

/* Services */

.services__pre-header {
  text-align: center;
  margin: 2rem 2rem;
}

.services {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.services__card {
  background-color: var(--light-color);
  width: 225px;
  height: 325px;
  box-shadow: var(--shadow);
  margin: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  transition: all 0.5s;
}

.services__card:hover {
  transform: scale(1.1);
}

.services__card img {
  margin-top: 2rem;
  display: block;
}

.services__icon--cable {
  width: 75px;
}

.services__icon--server {
  height: 150px;
}

.services__icon--tv {
  width: 150px;
}

.services__icon--camera {
  width: 150px;
}

.services__card li {
  margin: 1rem;
}

/* SECURITY CAMERA CARD ---hidden for now*/
#services__card--hidden {
  display: none;
}

/* Photos */
.photos__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.photos img {
  display: block;
  max-width: 400px;
  width: 80%;
  height: 80%; /* Was getting errors on mobile when leaving this blank */
  margin: 1rem;
  box-shadow: var(--shadow);
  border-radius: 5px;
  flex-basis: auto;
  transition: transform 0.5s;
}

.photos img:hover {
  transform: scale(1.1);
}

.photos a {
  margin: 4rem auto;
  font-size: max(1.25rem, 2vw);
  border-radius: 25px;
}

/* About */

.about {
  margin-top: 5rem;
  overflow: hidden;
}

.about img {
  display: block;
  max-width: 350px;
  width: 80%;
  height: auto;
  margin: 1rem auto;
  box-shadow: var(--shadow);
}

.about {
  width: 100%;
  margin: 5rem auto;
}

.about p {
  text-align: left;
  line-height: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Estimate */

form {
  display: block;
  box-shadow: var(--shadow);
  height: 600px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
}

label {
  display: block;
  width: 80%;
  margin: 2rem auto 0 auto;
  transition: all 0.2s;
}

input,
textarea {
  display: block;
  width: 80%;
  margin: 0.5rem auto 1rem auto;
  border-radius: 3px;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--medium-color);
  transition: all 0.5s;
  outline: none;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid var(--pop-color);
}

.button--submit {
  font-size: 1rem;
  margin: 3rem auto;
  border: 2px solid var(--pop-color);
}

/* Footer */
.footer__logo {
  display: block;
  width: 80%;
  max-width: 600px;
  margin: 3rem auto;
}

.footer__info {
  width: 75%;
  max-width: 500px;
  margin: 3rem auto;
  display: grid;
  grid-template: repeat(4, 1fr) / 4fr 1fr 15fr;
  align-items: center;
  grid-gap: 1rem;
}

.footer__inline-icon {
  display: block;
  height: var(--body-size);
  justify-self: center;
  grid-column: 2 / 3;
}

.footer__hours {
  grid-column: 3 / 4;
}

/* Photos Page */

.photo-page__heading {
  text-align: center;
}

.photo-page__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.photo-page__container img {
  display: block;
  max-width: 400px;
  width: 80%;
  height: 80%; /* Was getting errors on mobile when leaving this blank */
  margin: 2rem;
  box-shadow: var(--shadow);
  border-radius: 5px;
  flex-basis: auto;
  transition: transform 0.5s;
}

.photo-page__container img:hover {
  transform: scale(1.1);
}

/* Everything bigger than 900px */
@media (min-width: 900px) {
  /* Header/Nav */

  /* Footer */
  footer {
    display: grid;
    grid-template: 'logo contact';
  }

  .footer__logo {
    grid-area: logo;
  }

  .footer__info {
    grid-area: contact;
    border-left: 2px solid var(--medium-color);
  }
}
